SITE_URL

NEXT_PUBLIC_SITE_URL
NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY

SUPABASE_SERVICE_ROLE_KEY

# Seed Demo data
SEED_PASSWORD
SEED_EMAIL_DOMAIN
SEED_BATCH_SIZE

#AI
GEMINI_API_KEY
GEMINI_EMBEDDING_MODEL
GEMINI_CHAT_MODEL
GEMINI_CHAT_FALLBACK_MODEL